<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="bugsnag" type="Bugsnag.ConfigurationSection.Configuration, Bugsnag.ConfigurationSection" />
  </configSections>
  <bugsnag apiKey="757b52ed9e7c05759bde8dc35118b8e9" />
  <connectionStrings>
    <add name="Abundance_NkEntities" connectionString="metadata=res://*/Entity.AbundanceModel.csdl|res://*/Entity.AbundanceModel.ssdl|res://*/Entity.AbundanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;Connection Timeout=30600;initial catalog=VS_NAU;integrated security=True;max pool size=32767;asynchronous processing=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Abundance_NkEntities" connectionString="metadata=res://*/Entity.AbundanceModel.csdl|res://*/Entity.AbundanceModel.ssdl|res://*/Entity.AbundanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.169.155.119;initial catalog=VS_NAU;User ID=support;Password='Y;wDd*bUJ2@*T9V/';MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QueryPayoutletTransactionBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.etranzact.net:8080/WebService/QueryPayoutletTransaction" binding="basicHttpBinding" bindingConfiguration="QueryPayoutletTransactionBinding" contract="eTranzactWebService.QueryPayoutletTransaction" name="QueryPayoutletTransactionPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="connectionDetails" value="Data Source=localhost;Initial Catalog=VS_NAU;Integrated Security=True" />
    <add key="RemitaBaseUrl" value="https://login.remita.net/remita/ecomm/split/init.reg" />
    <add key="RemitaBaseUrlNonSplit" value="https://login.remita.net/remita/ecomm/init.reg" />
    <add key="RemitaVerifyUrl" value="https://login.remita.net/remita/exapp/api/v1/send/api/echannelsvc" />
    <add key="AppRoot" value="http://localhost:2712/" />
    <!--<add key="PaystackSecrect" value="sk_live_2e802f1c1052d2a5da947fd94c06e37610448142" />
    <add key="PaystackSubAccount" value="ACCT_p5r1h0ybbx4gmir" />-->
    <add key="PaystackSecrect" value="sk_test_322baf46051f382fb7f990b809dea4d46cabfb24" />
    <add key="PaystackSubAccount" value="ACCT_mo3tu07loax75f4" />
    <add key="PaystackSUGSubAccount" value="ACCT_oubr3rrqqzt4lru" />
    <add key="EtranzactTerminalID" value="7007139401" />
    <add key="EtranzactResponseUrl" value="http://portal.abiastateuniversity.edu.ng/Common/Etranzact/BankItNotifications" />
    <add key="EtranzactSecretKey" value="F1BU0t4edLzXICFV" />
    <add key="InterswitchMacKey" value="475CED555F82C18C60760FC8C7C00721A5DCE5CBF461AF1F5828400FEBC0EB3728A9478975DB4F475C453E8A13C3DE4DA3F5C6C80F762994392B60B99CA74A32" />
    <add key="InterswitchProductId" value="7746" />
    <add key="InterswitchPaymentItemId" value="101" />
    <add key="InterswitchResponseApi" value="https://webpay.interswitchng.com/paydirect/api/v1/gettransaction.json " />
    <add key="InterswitchRetrunUrl" value="http://portal.abiastateuniversity.edu.ng/Common/Interswitch/Listen?" />
    <!--<add key="MonnifyApiKey" value="MK_TEST_B9TPTKXX4C"/>
    <add key="MonnifyContractCode" value="BQRSGQDF7FU56LXEK83T5ES5ZYCMLSE6"/>
    <add key="MonnifyUrl" value="https://sandbox.monnify.com/api/v1"/>
    <add key="MonnifySUBAccount" value="MFY_SUB_938774354189"/>
    <add key="MonnifyCode" value="9534775226"/>-->
    <add key="MonnifyApiKey" value="MK_PROD_NHBU9D9PND" />
    <add key="MonnifyContractCode" value="B5GGNWPAB6YXZ5AP3WPGVP453H2VNAB6" />
    <add key="MonnifyUrl" value="https://api.monnify.com/api/v1" />
    <add key="MonnifySUBAccount" value="MFY_SUB_656854777492" />
    <add key="MonnifyLloydantSUBAccount" value="MFY_SUB_931443229914" />
    <add key="MonnifyCode" value="782584254832" />
    <add key="MonnifyMatricGownCode" value="578592361177" />
    <add key="SmartBaseUrl" value="https://smartsmssolutions.com/api/json.php?" />
    <add key="SmartToken" value="MQxEBoEG0ittnGWEPHgE6Xg8RrhieNZXf14YbsLFVFcJHOWFJxBjPNBGnziWyBoKBPbQYIHlWUXwJxzgZ7xK6HwgNoRDZIj7dS1o" />
    <add key="SmartSmsBaseUrl" value="https://smartsmssolutions.com/api/json.php?" />
    <add key="SmartSmsToken" value="MQxEBoEG0ittnGWEPHgE6Xg8RrhieNZXf14YbsLFVFcJHOWFJxBjPNBGnziWyBoKBPbQYIHlWUXwJxzgZ7xK6HwgNoRDZIj7dS1o" />
    <add key="CredoPrivatekey" value="1PRI0282hdUYoRkqpAhZAB1PK2ci1Zr9dbI8K8" />
    <add key="CredoPublicKey" value="1PUB0282yrmZ8neTfwKEDurvF9XtVEtJAENth6" />
    <add key="CredoUrl" value=" https://api.credocentral.com/" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <customErrors mode="Off">
      <error statusCode="401" redirect="~/Security/Account/Unauthorized" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="/Security/Account/Login" />
    </authentication>
    <membership defaultProvider="AbundanceMembership">
      <providers>
        <clear />
        <add name="AbundanceMembership" type="Abundance_Nk.Business.AbundanceMembershipProviderLogic" />
      </providers>
    </membership>
    <roleManager defaultProvider="AbundanceRoleProvider" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="AbundanceRoleProvider" type="Abundance_Nk.Business.AbundanceRoleProvider" />
      </providers>
    </roleManager>
    <compilation targetFramework="4.5.1">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="90800" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <pages>
      <namespaces>
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
    <httpModules></httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="index" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 067D90A3-F667-46BB-B92E-C11100BC9D24-->