@using Abundance_Nk.Web.Models
@model Abundance_Nk.Model.Model.AdmissionLetter
@{
    Layout = null;
    ViewBag.Title = "Admission Letter";
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        alert("");
        window.print();
    });
    $("#aPrint").on('click', function () {
        //$(".printarea").print();
        // return false;
        window.print();
    });
</script>


<style>
    .d-inline-block {
        display: inline-block;
    }

    .justify-content-center {
        justify-content: center
    }

    .justify-content-between {
        justify-content: space-between
    }

    .d-flex {
        display: flex
    }

    .text-center {
        text-align: center !important
    }

    .mt-4 {
        margin-top: 1rem
    }

    .mt-0 {
        margin-top: 0 !important
    }

    .border-top {
        border-top: 1px solid #eee
    }

    .border-bottom {
        border-bottom: 1px solid #eee
    }

    .border-bottom-bold {
        border-bottom: 1px solid #000;
    }

    .mr-20px {
        margin-right: 20px !important;
    }

    .mb-30px {
        margin-bottom: 30px !important;
    }

    .mb-20px {
        margin-bottom: 20px !important;
    }

    .mt-30px {
        margin-top: 30px !important;
    }

    .mt-20px {
        margin-top: 20px !important;
    }

    .font-weight-bold {
        font-weight: bold;
    }

    .my-auto {
        margin-top: auto;
        margin-bottom: auto;
    }

    .text-italic {
        font-style: italic;
    }

    .text-underline {
        text-decoration: underline;
    }

    .list-mb {
        margin-bottom: 15px;
    }

    .px-10px {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

<div class="container">
    <div class="row justify-content-center mb-20px">
        <div class="col-lg-12">
            <div class="d-flex text-center justify-content-center mt-4">
                <img class="d-inline mr-20px" src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="auto" />

                <div class="my-auto">
                    <h2 class="d-inline mt-0 font-weight-bold">NNAMDI AZIKIWE UNIVERSITY, AWKA</h2>
                    <h4>JUPEB PROGRAMME</h4>
                </div>
            </div>
        </div>
    </div>

    

    <div class="mb-30px">
        <h5 class="font-weight-bold" style="align-content:center"> Congratulations @Model.Person.FullName</h5>

        <h3 class="text-center font-weight-bold">LETTER OF ADMISSION</h3>

        <p class="mt-30px">
            Congratulations! You have been offered a Provisional Admission into the Nnamdi Azikiwe University JUPEB Programme.

        </p>
        <p>
            Kindly log in to myedu.unizik.edu.ng to generate remitta for payment of acceptance fee of <b>&#8358;70,000</b> and
            payment of school fee of <b>#200,000</b>, Also confirm all payment made.
        </p>
          <p> Lectures commence immediately</p>

            <p>  Also note that your JUPEB Registration Number will be assigned after payment of fees.

              So endeavour to pay up your fees immediately.
          </p>


        <div class="pull-right">
            <img src="@Model.QRVerification" width="100" height="100" />
            @*@Html.GenerateQrCode(Model.QRVerification)*@
        </div>
    </div>
</div>

@*<div class="col-md-12">
    <button id="aPrint" class="print btn btn-primary-alt"><i class="fa fa-print mr5"></i> Print</button>

</div>*@
