@model Abundance_Nk.Model.Model.AdmissionLetter

@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-override.css" rel="stylesheet" />
<link href="~/Content/misc.css" rel="stylesheet" />

<br />

<div class="container">
    <div class="row">
        <div class=" col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="shadow">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success fade in" style="border: 1px solid green">
                            <div>
                                <table style="margin-bottom: 7px">
                                    <tr>
                                        <td style="padding-right: 7px"><img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" width="50px" /></td>
                                        <td>
                                            <h4><strong>NNAMDI AZIKIWE UNIVERSITY, AWKA</strong></h4>
                                            <p>
                                              AWKA,ANAMBRA STATE.
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-danger">
                            <h1>Admission Slip</h1>
                        </div>

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td class="col-md-4"><b>Name</b></td>
                                    <td class="col-md-8">@Model.Person.FullName</td>
                                </tr>
                                <tr>
                                    <td class="col-md-4"><b>Programme</b></td>
                                    <td class="col-md-8">@Model.Programme.Name </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4"><b>Department</b></td>
                                    <td class="col-md-8">@Model.Department.Name</td>
                                </tr>
                            </tbody>
                        </table>

                        <br />

                        <div>
                            Instructions on how to complete the admission process
                            <div class="row">
                                <h5>
                                    <ol>
                                        <li><p>Confirm that you have met the departmental requirement</p></li>
                                        <li><p>Generate an acceptance fee invoice</p></li>
                                        <li><p>Proceed to the bank and make payment using the invoice number boldy written on the invoice</p></li>
                                        <li><p>Return to the portal and input the confirmation order given at the bank to print admission letter and acceptance receipt</p></li>
                                        <li><p>Verify O-level result</p></li>
                                        <li><p>Generate school fee invoice</p></li>
                                        <li><p>Proceed to the bank and make payment using the invoice number boldy written on the invoice</p></li>
                                        <li><p>Return to the portal and input the confirmation order given at the bank to print school fees receipt</p></li>
                                        <li><p>Fill course registration form</p></li>
                                        <li><p>Fill Student bio-data form</p></li>
                                    </ol>
                                </h5>
                            </div>
                        </div>

                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>