@model Abundance_Nk.Web.Areas.Applicant.ViewModels.TranscriptViewModel
@{
    ViewBag.Title = "CardPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/Content/Images/payment_options.png" />
<form action="https://login.remita.net/remita/ecomm/finalize.reg" name="SubmitRemitaForm" method="POST">
    <input name="merchantId" value="@Model.RemitaPayment.MerchantCode" type="hidden">
    <input name="hash" value="@Model.Hash" type="hidden">
    <input name="rrr" value="@Model.RemitaPayment.RRR" type="hidden">
    <input name="responseurl" value="http://applications.federalpolyilaro.edu.ng/Admin/RemitaReport/PaymentReceipt" type="hidden">
    <input type="submit" name="submit_btn" class="btn btn-default mr5" value="Pay Via Remita using card">
</form>