
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!Doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from themephi.net/template/eduan/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 02 Sep 2023 18:14:59 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Certificate/Diploma Programme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/Cdp2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Cdp2/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/Cdp2/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Cdp2/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/Cdp2/css/odometer.min.css">
    <link rel="stylesheet" href="~/Content/Cdp2/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/Cdp2/css/meanmenu.css">
    <link rel="stylesheet" href="~/Content/Cdp2/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Content/Cdp2/css/main.css">
</head>

<body>
    <!-- sidebar-information-area-start -->
    <div class="sidebar-info side-info">
        <div class="sidebar-logo-wrapper mb-25">
            <div class="row align-items-center">
                <div class="col-xl-6 col-8">
                    <div class="sidebar-logo">
                        <a href="index.html"><img src="~/Content/Images/school_logo.png" alt="logo-img"></a>
                    </div>
                </div>
                <div class="col-xl-6 col-4">
                    <div class="sidebar-close-wrapper text-end">
                        <button class="sidebar-close side-info-close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-menu-wrapper fix">
            <div class="mobile-menu"></div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <!-- sidebar-information-area-end -->
    <!-- header area start -->
    <header>
        <div class="h2_header-area header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-sm-7 col-6">
                        <div class="h2_header-left">
                            <div class="h2_header-logo">
                                <a href="index.html"><img src="~/Content/Images/school_logo.png" alt=""></a>
                            </div>
                            <div class="h2_header-category d-none d-sm-block">
                                <a href="#"><i class="fa-solid fa-grid"></i><span>C/DP Directorate</span></a>
                                <ul class="h2_header-category-submenu">
                                    <li><a href="index-2.html">Why CDP</a></li>
                                    <li><a href="index-3.html">Our Philosophy</a></li>
                                    <li><a href="index-4.html">Our Mission And Vision</a></li>
                                    <li><a href="index-5.html">CDP Structure</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 d-none d-xl-block">
                        <div class="h2_header-middle">
                            <nav class="h2_main-menu mobile-menu" id="mobile-menu">
                                <ul>
                                    @*<li class="menu-has-child">
                                        <a href="index.html">C/DP</a>
                                        <ul class="submenu">

                                            <li><a href="index-2.html">Why CDP</a></li>
                                            <li><a href="index-3.html">Our Philosophy</a></li>
                                            <li><a href="index-4.html">Our Mission And Vision</a></li>
                                            <li><a href="index-5.html">CDP Structure</a></li>
                                        </ul>
                                    </li>*@
                                    <li class="menu-has-child">
                                        <a href="course.html">Courses</a>
                                        <ul class="submenu">
                                            <li>
                                                <a href="index.html">Linguistics</a>

                                                <ul class="submenu">
                                                    <li><a href="index.html">Computational Phonetics and Multimedia Data Research</a></li>
                                                    <li><a href="index-2.html">Language Documentation and Fieldwork</a></li>
                                                    <li><a href="index-3.html">Corpus Development and Management</a></li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="course.html">Chisco Institute For Transportation Studies</a>
                                                <ul class="submenu">
                                                    <li><a href="index.html"></a></li>
                                                    <li><a href="index-2.html"></a></li>
                                                    <li><a href="index-3.html"></a></li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="course.html">Accounting</a>
                                                <ul class="submenu">
                                                    <li><a href="index.html">Certificate Course in  Accounting</a></li>
                                                    @*<li><a href="index-2.html"></a></li>
                <li><a href="index-3.html"></a></li>*@

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="course.html">Agriculture</a>
                                                <ul class="submenu">
                                                    <li><a href="index.html"></a></li>
                                                    <li><a href="index-2.html"></a></li>
                                                    <li><a href="index-3.html"></a></li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="course.html">French</a>
                                                <ul class="submenu">
                                                    <li><a href="index.html"></a></li>
                                                    <li><a href="index-2.html"></a></li>
                                                    <li><a href="index-3.html"></a></li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="course.html">UNIZIK-CILGPAN Centre for Human Capital Development</a>
                                                <ul class="submenu">
                                                    <li><a href="index.html">local Government Administration</a></li>
                                                    <li><a href="index-2.html">Public Administration</a></li>
                                                   
                                                </ul>
                                            </li>
                                        </ul>

                                       
                                    </li>
                                   <li class="menu-has-child">
            <a href="#">Applications</a>
            <ul class="submenu">
                <li><a href="~/Applicant/Form/CDPFormInvoiceGeneration">Apply</a></li>
                <li>
                    <a href="~/Applicant/Form/PostJambProgramme">Fill Application Form</a>

                </li>
              
            </ul>
        </li>
                                    @*<li class="menu-has-child">
            <a href="#">Pages</a>
            <ul class="submenu">
                <li><a href="about.html">About</a></li>
                <li><a href="team.html">Teacher</a></li>
                <li><a href="team-details.html">Teacher Details</a></li>
                <li><a href="event.html">Events</a></li>
                <li><a href="event-details.html">Event Details</a></li>
                <li><a href="price.html">Price</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="sign-up.html">Sign Up</a></li>
                <li><a href="sign-in.html">Sign In</a></li>
                <li><a href="404.html">404</a></li>
            </ul>
        </li>*@
                                   
                                    <li>
                                        <a href="~/Applicant/Form/FillCDPAdmissionForm">Admission Status</a>

                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-5 col-6">
                        <div class="h2_header-right">
                            <div class="h2_header-btn d-none d-sm-block">
                                <a href="~/Security/Account/Login" class="header-btn theme-btn theme-btn-medium">Sign In</a>
                            </div>
                            <div class="header-menu-bar d-xl-none ml-10">
                                <span class="header-menu-bar-icon side-toggle">
                                    <i class="fa-light fa-bars"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header area end -->

    <main>
        <!-- banner area start -->
      
       
        <!-- counter area end -->
        <!-- category area start -->
        <section class="pb-100 mt-100 h2_course-area pt-110">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-area-2 small-section-area-2 text-center">
                            <h2 class="section-title mb-50">Certificate/Diploma <span>Programme <img src="~/Content/Cdp2/img/banner/2/line.png" alt=""></span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="h2_category-item mb-30">
                            <div class="h2_category-img">
                                <img src="~/Content/Cdp2/Accounting.jpg" alt="">
                            </div>
                            <div class="h2_category-content">
                                <h5><a href="course.html">Certificate Course In Accounting</a></h5>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="h2_category-item mb-30">
                            <div class="h2_category-img">
                                <img src="~/Content/Cdp2/Agriculture 2.jpg" alt="">
                            </div>
                            <div class="h2_category-content">
                                <h5><a href="course.html">Certificate Course In Agriculture</a></h5>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="h2_category-item mb-30">
                            <div class="h2_category-img">
                                <img src="~/Content/Cdp2/lingustics.jpg" alt="">
                            </div>
                            <div class="h2_category-content">
                                <h5><a href="course.html">Certificate Course In Linguistics</a></h5>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="h2_category-item mb-30">
                            <div class="h2_category-img">
                                <img src="~/Content/Cdp2/French.jpg" alt="">
                            </div>
                            <div class="h2_category-content">
                                <h5><a href="course.html">Certificate Course In French</a></h5>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="h2_category-item mb-30">
                            <div class="h2_category-img">
                                <img src="~/Content/Cdp2/transportation.jpg" alt="">
                            </div>
                            <div class="h2_category-content">
                                <h5><a href="course.html">Chisco Institute For Transportation Studies</a></h5>
                               
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <!-- category area end -->
        <!-- course area start -->
     
        <!-- price area end -->
       
    </main>

    <!-- footer area start -->
    <footer class="footer-area h2_footer-area">
        <div class="footer-top  >
            <div class="container">
                <div class="container-fluid pt-5 pb-5 Design2">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-7 col-sm-12 pt-1 text-center footer-widget-text" >
                                <span class="font-1 text-center"><b>ARE YOU EXPERIENCING ANY DIFFICULTIES OR ISSUES?</b></span><br />
                                <b>CALL:</b> 07088391544 or 090838920222<br />
                                <b>EMAIL SUPPORT:</b> support@lloydant.com
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-text">
                            <p>Copyright © @DateTime.Now.Year All Rights Reserved by C/DP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    <!-- JS here -->
    <script src="~/Content/Cdp2/js/jquery.min.js"></script>
    <script src="~/Content/Cdp2/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Cdp2/js/swiper-bundle.min.js"></script>
    <script src="~/Content/Cdp2/js/jquery.meanmenu.min.js"></script>
    <script src="~/Content/Cdp2/js/wow.min.js"></script>
    <script src="~/Content/Cdp2/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/Cdp2/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/Cdp2/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Cdp2/js/odometer.min.js"></script>
    <script src="~/Content/Cdp2/js/appear.min.js"></script>
    <script src="~/Content/Cdp2/js/main.js"></script>
</body>

<!-- Mirrored from themephi.net/template/eduan/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 02 Sep 2023 18:15:16 GMT -->
</html>