@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   
}*@
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/responsive-tabs.js"></script>

<script type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<div style="color:black">
    <h3>
        Application Form Summary
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b>Master Sheet Report</b> can be viewed by selecting Session, Level. Programme and Department from the drop dowms below, then click the Display Report button to display an exportable and printable report.
    </p>
</div>

<iframe src="~/Reports/Presenter/Result/MasterSheet.aspx" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>

<br />
