@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    
}*@
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/responsive-tabs.js"></script>

<script type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<div style="color:black">
    <h3>
        Transcript
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b>Student Transcript</b> can be viewed/printed by selecting, Level. Programme, Department and the Student from the drop dowms below, then click the Display button to display an exportable and printable Transcript.
    </p>
</div>

<iframe src="~/Reports/Presenter/Result/Transcript.aspx" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>

<br />
