@using Abundance_Nk.Model.Model
@model Abundance_Nk.Web.Areas.Admin.ViewModels.VerificationViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", TempData["Message"])
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Receipt Verification</h3>
            @using (Html.BeginForm())
            {
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentEtranzact.Payment.Payment.SerialNumber, "Serial No", new { @class = "col-sm-2 control-label " })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.PaymentEtranzact.Payment.Payment.SerialNumber, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Verify" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

          
        </div>
    </div>
</div>