@{
    ViewBag.Title = "E-Learning Assesment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/responsive-tabs.js"></script>

<script type="text/javascript">
               function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
</script>

<div style="color:black">
    <h3>
        E-Learning Assessment Score
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>

    </p>
</div>

<iframe src="@Url.Content("~/Reports/Presenter/Result/ElearningTestResult.aspx?courseAllocationId=" + ViewBag.courseAllocationId)" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>


<br />

