@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Instruction</h2>
        <div class="panel panel-custom">
            <div class="panel-body text-justify">
                <p><h4>Please make sure that you have changed your default password before proceeding.</h4></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 hero-feature">
        <div class="thumbnail" style="height: 245px">
            <div class="caption">
                <h4>Blank Score Sheets</h4>
                <p>
                    To download score sheets please click the link below. You will only be able to see sheets for the courses that you have been assigned.
                </p>
                <p>
                    @Html.ActionLink("Download Blank Sheets", "Download", "Staff", new {Area = "Admin"}, new {@class = "btn btn-success"})
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 hero-feature">
        <div class="thumbnail" style="height: 245px">
            <div class="caption">
                <h4>Upload Score Sheets</h4>
                <p>
                    To upload score sheets please click the link below. You will only be able to see sheets for the courses that you have been assigned.
                </p>
                <p>
                    @Html.ActionLink("Upload Score Sheets", "Upload", "Staff", new {Area = "Admin"}, new {@class = "btn btn-success"})
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 hero-feature">
        <div class="thumbnail" style="height: 245px">
            <div class="caption">
                <h4>View Raw Score Sheets</h4>
                <p>
                    To view score sheets please click the link below. You will only be able to see sheets for the courses that you have been assigned.
                </p>
                <p>
                    @Html.ActionLink("View Score Sheets", "View", "Staff", new {Area = "Admin"}, new {@class = "btn btn-success"})
                </p>
            </div>
        </div>
    </div>
</div>