

@model  Abundance_Nk.Web.Models.LoginViewModel
@{
    ViewBag.Title = "CardPayment";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/Content/Images/remita-payment-logo-horizonal.png" />
<form action="https://login.remita.net/remita/ecomm/finalize.reg" name="SubmitRemitaForm" method="POST">
    @*<form action="http://www.remitademo.net/remita/ecomm/finalize.reg" name="SubmitRemitaForm" method="POST">*@
    <input name="merchantId" value="@Model.Payment_RRR.MerchantCode" type="hidden">
    <input name="hash" value="@Model.Hash" type="hidden">
    <input name="rrr" value="@Model.Payment_RRR.RRR" type="hidden">
    <input name="responseurl" value="@Model.RemitaResponseURL" type="hidden">
    <input type="submit" name="submit_btn" class="btn btn-danger mr5" value="Pay Via Remita using card">
</form>
