@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }*@
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/responsive-tabs.js"></script>

<script type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<div style="color: black">
    <h3>
        Master Grade Sheet
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b> Master Grade Sheet</b> displays a view of the student's aggregate result.
    </p>
</div>

<iframe src="~/Reports/Presenter/Result/MasterSheetHOD.aspx" style="width: 100%;" frameborder="0" scrolling="no" id="iframe" onload=' javascript:resizeIframe(this); '></iframe>

<br />