@model Abundance_Nk.Model.Model.Receipt

@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-override.css" rel="stylesheet" />

@if (TempData["Message"] != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                @Html.Partial("_Message", TempData["Message"])
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    @Html.Partial("_Receipt", Model)
}