@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel

@{
    ViewBag.Title = "Reset Student Password";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if(TempData["Message"] != null)
{
    @Html.Partial("_Message",TempData["Message"])
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: x-large">Reset Student Password</div>
            </div>
            <div class="panel-body">

                @using(Html.BeginForm("ResetStudentPassword","Support",new { area = "Admin" },FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Student.MatricNumber,"Matriculation Number",htmlAttributes:new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Student.MatricNumber,new { @class = "form-control",@placeholder = "Enter Matric Number",@required = "required" })
                                @Html.ValidationMessageFor(model => model.Student.MatricNumber,"",new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Reset" class="btn btn-success mr5" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        
    </div>
</div>