@{
    ViewBag.Title = "Unathorized Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="text-danger text-center" style="background: rgba(255, 255, 255, .5); padding: 0 0 0 0;">

        <h2><i class="fa fa-exclamation"></i> You have tried to access a page that is not meant for you.</h2>
        <cite>An alert has been submitted to the admin. If you feel that your access was revoked please contact support@lloydant.com</cite>
    </div>
</div>

