@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>CheckApplicants</title>
    </head>
    <body>
        <div>
        </div>
    </body>
</html>