@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }*@
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/responsive-tabs.js"></script>

<script type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<div style="color: black">
    <h3>
        Department Slug Data
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b> Department Slug Data</b> returns a zip file that contains all the attendance sheets for each course registered in a given department.
    </p>
</div>

<iframe src="~/Reports/Presenter/GstSlugData.aspx" style="width: 100%;" frameborder="0" scrolling="no" id="iframe" onload=' javascript:resizeIframe(this); '></iframe>

<br />