@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}*@
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/responsive-tabs.js"></script>

<script type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<div style="color: black">
    <h3>
        Debtors Report
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b>Debtors Report</b> displays an exportable and printable report of students yet to pay school fees.
    </p>
</div>

<iframe src="~/Reports/Presenter/DebtorsReport.aspx" style="width: 100%;" frameborder="0" scrolling="no" id="iframe" onload=' javascript:resizeIframe(this); '></iframe>

<br />