@{
    //Layout = null;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
@*<link href="~/Content/pretty-menu.css" rel="stylesheet" />*@
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success-head">
            <div class="panel-heading">
                <h4 class="panel-title">This interface enables users to view, Accept or Reject Application.</h4>
                <p>Users can Accept or Reject Application Form by simple selecting an Academic Session, Accepted or Rejected from the drop dowm and options respectively. Then click the Find button to search. The search result is displayed in a tabular format below. Users can Accept an Application by selecting the appropriate application and click the Accept button below.</p>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
            <div class="col-md-12 well">
                Welcome to admin page.
            </div>
        </div>*@

<div class="row">
    <div class="col-md-9">
        <div id="content" class="content">
        </div>
    </div>
</div>