@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }*@
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/responsive-tabs.js"></script>

<script type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<div style="color: black">
    <h3>
        New Student/Returning Student
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b>New Student/Returning Student Count Report</b> displays an exportable and printable report of the count of New Student/Returning Student Count per department.
    </p>
</div>

<iframe src="~/Reports/Presenter/NewStudentReturningStudentCount.aspx" style="width: 100%;" frameborder="0" scrolling="no" id="iframe" onload=' javascript:resizeIframe(this); '></iframe>

<br />
