@model Abundance_Nk.Web.Areas.Applicant.ViewModels.InterswitchResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listen</title>
</head>
<body>
    <div>
        @Model.desc
    </div>
</body>
</html>
